#mainWrap {
    width: calc(100% - 75px);
    height: 100vh;
    color: white;
    float: right;
}

#dateOverview {
    width: 12%;
    float: left;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.308);
}

#monthDisplay {
    width: 88%;
    float: right;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dayDisplayDetail {
    width: 14.162%;
    text-align: center;
    border: 1px white solid;
}

.dayContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.dayDisplayRound {
    width: 13%;
    text-align: center;
    margin-top: 10px;
    padding: 5px 0 5px 0;
    border-radius: 20px;
}

.dayDisplayRound:not(.dateHeader, .today):hover {
    background-color: rgba(128, 128, 128, 0.356);
    cursor: pointer;
}

.today {
    background-color: gray;
}

.otherMonth {
    color: rgba(255, 255, 255, 0.404);
}

.dateHeader {
    margin-bottom: 5px;
    font-size: smaller;
}

.dayDisplayDetailSeperator {
    margin-top: 10px;
}

.calendarEntry {
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
    text-align: left;
    padding-left: 10px;
}

.colorMarker {
    display: inline-block;
    height: 13px;
    width: 13px;
    border-radius: 50%;
    margin-right: 10px;
}

.red {
    background-color: rgb(196, 17, 17);
}

.blue {
    background-color: rgb(35, 91, 196);
}

#newEntryBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 38px;
    background-color: #c991c0;
    padding: 10px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 11;
}

.newEntryBtnToggled {
    animation: toggleRotation 50ms linear 0s 1 forwards;
}

@keyframes toggleRotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg);
    }
}

#newEntryUnderlay {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.219);
    display: flex;
    justify-content: center;
    align-items: center;
}

.newEntryOverlay {
    background-color: white;
    width: 50%;
    display: block;
    overflow: auto;
    border-radius: 20px;
    color: black;
    padding: 20px;
}

.newEntryOverlay label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.newEntryOverlay input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

.newEntryOverlay input[type="time"] {
    width: 95% !important;
}

.newEntryOverlay button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.newEntryOverlay button:hover {
    background-color: #45a049;
}

.dateEntryContainer {
    display: flex;
    flex-wrap: wrap;
}

.timeEntryBox {
    flex: 50;
}

.newEntryOverlay input:disabled {
    cursor: not-allowed;
}

/* === SWITCH CSS === */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 28px;
}

.slider.round:before {
    border-radius: 50%;
}