<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login | LearnSched</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/load/all.css') }}">
    </head>
    <body>
        <div class="loginWrap">
            <h1>Login</h1>
            <form method="post" action="/login">
                <div class="loginFieldWrap">

                    {% if wrongLogin%}
                        <label for="email">E-Mail</label><br>
                        <input type="email" name="email" id="email" placeholder="Enter your E-Mail" class="errorInput" required>
                        <i class="fa-solid fa-envelope inputIcon errorIndicator"></i><br>
                        <div class="alignRight forgotPwd errorIndicator">
                            <p>Invalid Login. Please check your e-mail and password</p>
                        </div>
                    
                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" placeholder="Enter your password" class="errorInput" required>
                        <i class="fa-solid fa-lock inputIcon errorIndicator"></i><br>
                        <div class="alignRight forgotPwd">
                            <p>Forgot password?</p>
                        </div>
                    {% else %}
                        <label for="email">E-Mail</label><br>
                        <input type="email" name="email" id="email" placeholder="Enter your E-Mail" required>
                        <i class="fa-solid fa-envelope inputIcon"></i><br>

                        <label for="password">Password</label><br>
                        <input type="password" name="password" id="password" placeholder="Enter your password" required>
                        <i class="fa-solid fa-lock inputIcon"></i><br>
                        <div class="alignRight forgotPwd">
                            <p>Forgot password?</p>
                        </div>
                    {% endif %}

                    <label for="remember">
                        <input type="checkbox" id="remember" name="remember"> Keep me logged in
                    </label>
                </div>
                <button type="submit" id="loginButton">Login</button>

                <p class="sectionTitle">Or login using</p>
                    <button type="button" class="socialLogin facebook"><i class="fa-brands fa-facebook-f"></i></button>
                    <button type="button" class="socialLogin twitter"><i class="fa-brands fa-twitter"></i></button>
                    <button type="button" class="socialLogin google"><i class="fa-brands fa-google"></i></button>

                <p class="sectionTitle">Don't have an account yet?</p>
                <div id="signUpRef">
                    <a href="{{ url_for('auth.signup') }}">Sign up</a>
                </div>
            </form>
        </div>
    </body>
</html>