<link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">

<div id="navbarWrap">
    <div class="navbarEntry active">
        <i class="fa-solid fa-house"></i>
    </div>
    <div class="navbarEntry">
        <i class="fa-solid fa-check"></i>
    </div>
    <div class="navbarEntry">
        <i class="fa-solid fa-calendar"></i>
    </div>
    <div class="navbarEntry">
        <i class="fa-solid fa-clock"></i>
    </div>
    <div class="navbarEntry bottomEntry">
        <i class="fa-solid fa-user"></i>
    </div>
</div>