<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LearnSched</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='basic.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/load/all.css') }}">
    </head>
    <body>
        {% include "navbar.html" %}
        <div id="mainWrap">
            <div id="mainContent">
                <h1>Welcome, Jonah</h1>
                <p>Lets see what you can get done today!</p>
                <div class="spaceVert"></div>
                <div class="widgetWrap">
                    <div id="todayPlan" class="widget">
                        <h2>Your plan for today</h2>

                        <div class="planEntry">
                            <table class="w-full">
                                <tr class="w-full">
                                    <td class="entryIcon">
                                        <i class="fa-solid fa-calendar-day"></i>
                                    </td>
                                    <td class="entryDesc">
                                        <h3>Gym Session</h3>
                                        <p>07:00 AM</p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="planEntry">
                            <table class="w-full">
                                <tr class="w-full">
                                    <td class="entryIcon">
                                        <i class="fa-solid fa-calendar-day"></i>
                                    </td>
                                    <td class="entryDesc">
                                        <h3>Physics Lesson</h3>
                                        <p>10:00 AM</p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="planEntry">
                            <table class="w-full">
                                <tr class="w-full">
                                    <td class="entryIcon">
                                        <i class="fa-solid fa-book-open"></i>
                                    </td>
                                    <td class="entryDesc">
                                        <h3>Study Session: Computer Science</h3>
                                        <p>01:30 PM - 03:30 PM</p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                        <div class="planEntry">
                            <table class="w-full">
                                <tr class="w-full">
                                    <td class="entryIcon">
                                        <i class="fa-regular fa-circle"></i>
                                    </td>
                                    <td class="entryDesc">
                                        <h3>Maths Assignment</h3>
                                        <p>Due to 10:00 PM</p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div id="upcomingTasks" class="widget">
                        <h2>Upcoming Tasks</h2>

                        <div class="planEntry">
                            <table class="w-full">
                                <tr class="w-full">
                                    <td class="entryIcon">
                                        <i class="fa-regular fa-circle"></i>
                                    </td>
                                    <td class="entryDesc">
                                        <h3>Finish PC Build</h3>
                                        <p>Due to July 14th, 08:00 AM</p>
                                    </td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </body>
</html>